.header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    width: 400px;
    font-size: 2em;
}

.active {
    color: red;
    text-decoration: underline;
    transform: rotateX(180deg);
}